.button-hero {
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.06em;
  color: var(--button);
  background-color: var(--accent-cl);
  border-radius: 4px;
  height: 50px;
  width: 200px;
  margin-bottom: 210px;
  margin-left: auto;
  margin-right: auto;
}

.button-close {
  position: absolute;
  border: 0px solid var(--button);
  top: 8px;
  right: 8px;
  width: -8px;
  background-color: var(--button);
}

.button-close-svg {
  display: flex;
  width: 30px;
  height: 30px;
  fill: var(--gray);
}
.button-submit {
  width: 200px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-cl);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  color: var(--button);
}

.button {
  font-family: Roboto;
  font-weight: 500;
  border: 1px solid var(--button);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}

.button:hover,
.button:focus {
  color: var(--button);
  background: var(--accent-cl);
  cursor: pointer;
}

.button-subscription {
  width: 200px;
  height: 50px;
  margin-top: 96px;
  margin-left: 12px;
  padding-left: 29px;
  background-color: var(--accent-cl);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button);
  border: 1px solid var(--gray);
  border-radius: 4px;
}

.button-subscription-svg {
  display: flex;
  width: 24px;
  height: 24px;
  fill: var(--button);
  margin-top: -37px;
  margin-left: 158px;
  margin-right: 28px;
}

.block-test {
  display: flex;
}
