.modal-form {
  display: flex;
  flex-direction: column;
}
.title-modal {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: gold;
  margin-bottom: 12px;
}
.modal-form .label-form {
  position: relative;
}
.title-imput {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: goldenrod;
  margin-bottom: 4px;
}
.inputs-form {
  width: 448px;
  height: 40px;
  padding: 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  outline: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-form svg {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: transparent;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inputs-form:focus-within,
.comment:focus-within {
  border: 1px solid red;
}
.inputs-form:focus-within ~ svg {
  fill: saddlebrown;
}
.comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.agreement {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: greenyellow;
}
.check::before {
  display: inline-block;
  position: absolute;
  content: ' ';
  width: 16px;
  height: 15px;
  left: -10px;
  bottom: 4px;
}
.check::before {
  background-image: url(../img/icon/checkbox-icon.svg);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .check::before {
  background-color: hotpink;
  background-image: url(../img/icon/check.svg);
  border-radius: 2px;
}
.agreement span {
  display: block;
  align-items: center;
}
.agreement label {
  position: relative;
  display: block;
  padding-left: 12px;
}
.agreement a {
  text-decoration-line: underline;
  color: gray;
}
.modal-button {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  color: hotpink;
  background-color: forestgreen;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}
